:root {
  --primary: #303952;
  --secondary: #596275;
  --accent: #546de5;
}

html, body {
  padding: 0;
  margin: auto;
  background-color: var(--primary);

  width: 100%;
  height: 100%;

}

#root {
  width: 100%;
  height: 100%;
}